.split-left {
  height: 100%;
  width: 70%;
  position: fixed;
  overflow-x: hidden;
  left: 0;
}

.split-right {
  height: 100%;
  width: 30%;
  position: fixed;
  overflow-x: hidden;
  right: 0;
  padding-top: 20px;
  background-color: ghostwhite;
}

.grades{
  margin-top: 30px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade{
  width: 50%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 30px -15px rgba(66, 68, 90, 1);
  cursor: pointer;
}

.grade:hover {
  background-color: lightgray;
}

.grade-element{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 5px;
}

.grade-icon {
  margin-right: 5px;
  cursor: pointer;
}

.spacer {
  flex: 1 auto;
}

.add-grade-container{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.add-grade-icon{
  font-size: 22px
}

.add-grade-button {
  color: green;
}

.percentage-input{
}

.grade-input{
  display: flex;
  flex-direction: column;
}

.field{
  margin-left: 15px;
  width: 200px;
}

.update-button {
  margin-left: 15px;
  color: green;
}
