<div class="split-left">

  <span *ngIf="!grades">Loading...</span>

  <div *ngIf="grades" class="grades">

    <div *ngFor="let grade of grades" class="grade"
         (click)="
         minPercentage = grade.minPercentage;
         symbolicGrade = grade.symbolicGrade;
         descriptiveGrade = grade.descriptiveGrade;
         maxPercentage = grade.maxPercentage;
         id = grade.id;
         isExpanded = true;">
      <span class="grade-element">{{grade.symbolicGrade | uppercase}}</span>
      <span class="grade-element">{{grade.minPercentage}}% - {{grade.maxPercentage}}%</span>
      <div class="spacer"></div>
      <button (click)="deleteGrade(grade.id)" mat-icon-button class="grade-icon"><mat-icon style="color: green">delete</mat-icon></button>
    </div>
  </div>
  <div class="add-grade-container">
    <button (click)="addGrade()" mat-button class="add-grade-button">
      <mat-icon class="add-grade-icon">add</mat-icon> ADD NEW GRADE</button>
  </div>
</div>

<div class="split-right">

  <div class="percentage-input">
    <mat-form-field class="field" appearance="fill">
      <mat-label>Percentage from</mat-label>
      <input matInput type="number" [(ngModel)]="minPercentage">
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label>Percentage to</mat-label>
      <input matInput type="number" [(ngModel)]="maxPercentage" disabled>
    </mat-form-field>
  </div>

  <div class="grade-input">
    <mat-form-field class="field" appearance="fill">
      <mat-label>Grade</mat-label>
      <input matInput type="text" [(ngModel)]="symbolicGrade">
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Grade description</mat-label>
      <input matInput type="text"  [(ngModel)]="descriptiveGrade">
    </mat-form-field>
  </div>

  <button mat-raised-button class="update-button" (click)="updateGrade(id)">Update</button>

</div>
