.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 200px;
}
.add-grade{
  width: 100px;
  margin-left: 25px;
}
.cancel-button{
  width: 100px;
  margin-right: 25px;
}
.buttons{
}
