<div class="container">
  <h3>Add Grade</h3>
  <mat-form-field>
    <mat-label>Minimum Percentage</mat-label>
    <input matInput [(ngModel)]="data.minPercentage" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grade</mat-label>
    <input matInput [(ngModel)]="data.symbolicGrade">
  </mat-form-field>
  <div class="buttons">
    <button class="cancel-button" (click)="onCancel()" mat-raised-button>Cancel</button>
    <button class="add-grade" [mat-dialog-close]="data" mat-raised-button>Add Grade</button>
  </div>
</div>


