.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percentage-input{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grade-input{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.field{
  margin: 5px 5px 5px 5px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.update-button{
  width: 100px;
  color: green;
  margin: 5px 5px 5px 5px;
}
