.mat-sidenav-container {
  height: 100%;
  .mat-sidenav {
    background-color: darkgreen;
    .mat-nav-list {
      .open-button {
        transition: 500ms ease-in-out;
        transform: rotate(0deg);
      }
      .open-button.open {
        transform: rotate(360deg);
      }
    }
  }
}

.menu-item
{
  color: white;
}

.toolbar {
  justify-content: left;
  align-items: center;
  color: green;
  background-color: white;
}

.spacer {
  flex: 1 auto;
}

.actual-page {
}
.actual-page-icon{
  position: relative;
  top: 4px;
  left: -5px;
  cursor: pointer;
}
